body {
    background-color: yellow;
}

h1 {
    color:red;
    text-align: center;
}
h2 {
    color:blue;
    text-align: right;
    font-style: italic;
}
h3 {
    color:red;
    text-align: right;
}

a:link {
    color: red;
}
a:visited {
    color:blue;
}

.letter {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

.words {
    color: red;
}
.bigblue {
    font-size: 30px;
}
table {
    background-color: cyan;
    color:black;
    border-spacing: 10px;
    animation-name: tablechange;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
td {
    text-align: center;
    padding: 10px;
}
.bold {
    font-weight: bold;
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    
  }
  
  @keyframes tablechange {
    from {background-color: cyan;
        color:black;}
    to {background-color:green;
        color:white;}
  }
