h1 {
  color: #111111;
  font-family: timesnewroman;
}
body {
  background-color: #3D9970;
}
.header {
  text-align: center;
  border-bottom: 1px solid black;
  //background: white;
}
.content {
  text-align: center;
}
table {
    margin: 0px auto;            
}
